[package]
name = "rustapi"
version = "0.1.0"
authors = ["ndelvalle <nicolas.delvalle@gmail.com>"]
edition = "2021"

[dependencies]
config = "0.13.1"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.81"
serde_derive = "1.0.136"
# Wait for wither to relase a new version.
# https://github.com/thedodd/wither/pull/89#issuecomment-1023644443
wither = { git = "https://github.com/thedodd/wither" }
futures = "0.3.21"
thiserror = "1.0.31"
axum = { version = "0.5.4", features = ["headers"] }
tokio = { version = "1.19.2", features = ["full"] }
tracing = "0.1.34"
tracing-subscriber = "0.3.11"
tower-http = { version = "0.3.0", features = ["trace", "compression-br", "propagate-header", "sensitive-headers"] }
http = "0.2.6"
chrono = "0.4.19"
async-trait = "0.1.56"
# Investigate if wither::bson can be used instead and activate this feature.
bson = { version = "2.2.0", features = ["serde_with", "chrono-0_4"] }
jsonwebtoken = "8.1.0"
once_cell = "1.10.0"
bcrypt = "0.13.0"
validator = { version = "0.15.0", features = ["derive"] }
lazy_static = "1.4.0"

[dev-dependencies]
assert-json-diff = "2.0.1"
reqwest = { version = "0.11.10", features = ["json"] }
