[package]
name = "rustapi"
version = "0.1.0"
authors = ["ndelvalle <nicolas.delvalle@gmail.com>"]
edition = "2021"

[dependencies]
config = "0.13.2"
serde = { version = "1.0.142", features = ["derive"] }
serde_json = "1.0.83"
serde_derive = "1.0.136"
# Wait for wither to relase a new version.
# https://github.com/thedodd/wither/pull/89#issuecomment-1023644443
wither = { git = "https://github.com/thedodd/wither" }
futures = "0.3.21"
thiserror = "1.0.32"
axum = { version = "0.5.14", features = ["headers"] }
tokio = { version = "1.20.1", features = ["full"] }
tracing = "0.1.36"
tracing-subscriber = "0.3.15"
tower-http = { version = "0.3.4", features = ["trace", "compression-br", "propagate-header", "sensitive-headers"] }
http = "0.2.8"
chrono = "0.4.19"
async-trait = "0.1.57"
# Investigate if wither::bson can be used instead and activate this feature.
bson = { version = "2.2.0", features = ["serde_with", "chrono-0_4"] }
jsonwebtoken = "8.1.1"
once_cell = "1.13.0"
bcrypt = "0.13.0"
validator = { version = "0.16.0", features = ["derive"] }
lazy_static = "1.4.0"

[dev-dependencies]
assert-json-diff = "2.0.2"
reqwest = { version = "0.11.11", features = ["json"] }
