[package]
name = "rustapi"
version = "0.1.0"
authors = ["ndelvalle <nicolas.delvalle@gmail.com>"]
edition = "2021"

[dependencies]
config = "0.13.3"
serde = { version = "1.0.163", features = ["derive"] }
serde_json = "1.0.96"
serde_derive = "1.0.152"
# Wait for wither to relase a new version.
# https://github.com/thedodd/wither/pull/89#issuecomment-1023644443
wither = { git = "https://github.com/thedodd/wither" }
futures = "0.3.28"
thiserror = "1.0.40"
axum = { version = "0.6.18", features = ["headers"] }
tokio = { version = "1.28.1", features = ["full"] }
tracing = "0.1.38"
tracing-subscriber = "0.3.17"
tower-http = { version = "0.4.0", features = [
    "trace",
    "compression-br",
    "propagate-header",
    "sensitive-headers",
    "cors",
] }
http = "0.2.9"
chrono = "0.4.25"
async-trait = "0.1.68"
# Investigate if wither::bson can be used instead and activate this feature.
bson = { version = "2.6.1", features = ["serde_with", "chrono-0_4"] }
jsonwebtoken = "8.3.0"
once_cell = "1.17.1"
bcrypt = "0.14.0"
validator = { version = "0.16.0", features = ["derive"] }
lazy_static = "1.4.0"
mime = "0.3.17"
bytes = "1.4.0"
async_once = "0.2.6"

[dev-dependencies]
assert-json-diff = "2.0.2"
reqwest = { version = "0.11.18", features = ["json"] }
