[package]
name = "rustapi"
version = "0.1.0"
authors = ["ndelvalle <nicolas.delvalle@gmail.com>"]
edition = "2021"

[dependencies]
config = "0.13.0"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
serde_derive = "1.0.136"
# Wait for wither to relase a new version.
# https://github.com/thedodd/wither/pull/89#issuecomment-1023644443
wither = { git = "https://github.com/thedodd/wither" }
futures = "0.3.21"
thiserror = "1.0.30"
axum = { version = "0.5.1", features = ["headers"] }
tokio = { version = "1.17.0", features = ["full"] }
tracing = "0.1.32"
tracing-subscriber = "0.3.10"
tower-http = { version = "0.3.0", features = ["trace", "compression-br", "propagate-header", "sensitive-headers"] }
http = "0.2.6"
chrono = "0.4.19"
async-trait = "0.1.53"
# Investigate if wither::bson can be used instead and activate this feature.
bson = { version = "2.1.0", features = ["serde_with", "chrono-0_4"] }
jsonwebtoken = "8.0.1"
once_cell = "1.10.0"
bcrypt = "0.12.1"
validator = { version = "0.14.0", features = ["derive"] }

[dev-dependencies.cargo-husky]
version = "1.5.0"
default-features = false
features = [
  "precommit-hook",
  "run-cargo-check",
  "run-cargo-clippy",
  "run-cargo-fmt",
  "run-cargo-test",
]
